SECRET_KEY_BASE=
SOUNDCLOUD_ID=
STRIPE_API_KEY=sk_test_i7NNLNTDTZT0ynWKZ3XJD0ne
STRIPE_PUBLISHABLE_KEY=pk_test_G9YBSk7EWa8Ai8yF4KRGbXd0
S3_BUCKET_NAME=beathaven-avatars-development
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
RACK_ENV=development
PORT=3000
