<%- flash.each do |key, msg| -%>
  <br/>
  <div class="alert alert-danger">
      <a class="close" style="float:right;" data-dismiss="alert" aria-hidden="true" href="#">&times;</a>
    <p><%= msg %></p>
  </div>
<%- end -%>
