%h4 We won't show your listing until you enter billing information.
%table.table
  %tr
    %th Name
    %th Billing Information Present?
  - if @performers.exists?
    - @performers.each do |p|
      %tr{class: p.billing_exists? ? "success" : "danger"}
        %td= link_to p.name, performer_bookings_path(p)
        %td
          = link_to billing_performer_path(p) do
            - if p.billing_exists?
              %i.glyphicon.glyphicon-usd
              Update Information
            - else
              %i.glyphicon.glyphicon-remove
              No information
  - else
    %tr
      %td{colspan: "2"}
        %h3.text-center.text-muted Nothing Here Yet
