<div class="home">
  <div class="jumbotron">
    <div class="container">
      <h2>Ever Wanted To Hear Your Favorite Band Play...In Your Backyard?</h2>
      <p>Book your favorite local bands and DJs to play at your events</p>
      <p><form class="form-inline" action="/performers/search" method="get">
        <div class="form-group">
          I'm looking for
          <select class="form-control" name="genres">
            <option>Rock</option>
            <option>Electronic</option>
            <option>Folk</option>
          </select> music
        </div>
        <button type="submit" class="btn btn-large btn-primary">Search</button>
      </form></p>
    </div>
  </div>
</div>