<div class="home">
  <div class="jumbotron">
    <div class="container">
      <h2>Ever Wanted To Hear Your Favorite Band Play...In Your Backyard?</h2>
      <p>Book your favorite local bands and DJs to play at your events</p>
      <p><form class="form-inline" action="/performers" method="get">
        <div class="form-group">
          I'm looking for
          <select class="form-control" name="genre">
            <option>Rock</option>
            <option>Electronic</option>
            <option>Folk</option>
          </select> music
        </div>
        <button type="submit" class="btn btn-large btn-primary">Search</button>
      </form></p>
    </div>
  </div>

  <div class="container">
    <p class="lead">How Does It Work?</p>
    <p>You search our listings for the perfect performer for any event - <strong>wedding, party, or seminar</strong> - and once you've found what you want, we take care of the billing and logistics.</p>
    <br/>
    <p class="lead">Why Not Book Through Craigslist?</p>
    <p>You can be sure every listing on our site will show up on time and deliver what you paid for since our rating and review system heavily incentivizes performers that are <strong>professional and competitively priced.</strong></p>
  </div>
</div>