#performer-index
  - if @performers.present?
    - @performers.each do |performer|
      .col-lg-4.performer-item
        = link_to performer, class: "thumbnail" do
          .dark-overlay
          = image_tag performer.soundcloud_avatar_url, class: "image-responsive", alt: "No image found"
        %h3.performer-name= performer.name
  - else
    %h3.text-center.text-muted No Results

  = will_paginate @performers, renderer: BootstrapPagination::Rails
