%h1 Performers

%table.table
  %tr
    %th Name
    %th Genre
    %th View Details

  - @performers.each do |performer|
    %tr
      %td= performer.name
      %td= performer.genre
      %td= link_to 'Show', performer
