%h1 Performers

%table.table.table-hover
  %tr
    %th Name
    %th Genre
    %th Listen

  - @performers.each do |performer|
    %tr
      %td= performer.name
      %td= performer.genre
      %td= link_to "Listen", performer
