%h1 Performers

%table.table.table-hover
  %tr
    %th Name
    %th Genre
    %th Listen

  - if @performers.present?
    - @performers.each do |performer|
      %tr
        %td= performer.name
        %td= performer.genre
        %td= link_to "Listen", performer
  - else
    %tr
      %td{colspan: "3"}
        %h3.text-center.text-muted No Results

= will_paginate @performers
