$text-color: #130F30;

#performer-index {

  .thumbnail {
    border: none;

    .img-responsive {
      width: 100%;
    }

    img {
      border-radius: 5px;
      width: 100%;

      &:hover {
        opacity: .7;
      }
    }
  }

  .performer-name {
    color: $text-color;
    text-transform: none;
    width: 100%;
    max-height: 25px;
    margin: 0 0 15 0;
    text-align: center;
  }
}

#performer-form {
  .form-group {
    .file-upload {
      border: none;
      box-shadow: none;
    }
  }
}